/*--------------------------------------------------------------
# Services One
--------------------------------------------------------------*/
.services-one {
    position: relative;
    display: block;
    overflow: hidden;
    padding: 120px 0 120px;
    z-index: 1;
}

.services-one:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 625px;
    background-color: var(--judges-primary);
    z-index: -1;
}

.services-one__shape-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: -30px;
    height: 625px;
    overflow: hidden;
    z-index: -1;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.05;
    mix-blend-mode: luminosity;
}

.services-one__carousel.owl-carousel .owl-stage-outer {
    overflow: visible;
}

.services-one__carousel.owl-carousel .owl-item {
    opacity: 0;
    visibility: hidden;
    transition: opacity 500ms ease, visibility 500ms ease;
}

.services-one__carousel.owl-carousel .owl-item.active {
    opacity: 1;
    visibility: visible;
}

.services-one__single {
    position: relative;
    display: block;
    background-color: var(--judges-primary);
    border: 1px solid var(--judges-bdr-color);
    padding: 20px 19px 20px;
    border-radius: var(--judges-bdr-radius);
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}

.services-one__single:hover {
    box-shadow: 0px 20px 30px 0px rgba(16, 24, 40, 0.04);
    transform: translateY(-10px);
}

.services-one__img {
    position: relative;
    display: block;
    overflow: hidden;
    border-radius: var(--judges-bdr-radius);
    z-index: 1;
}

.services-one__img::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition-delay: .1s;
    transition-timing-function: ease-in-out;
    transition-duration: .7s;
    transition-property: all;
    background: rgba(var(--judges-black-rgb), 0.6);
    border-radius: var(--judges-bdr-radius);
    opacity: 0;
    z-index: 1;
    content: "";
}

.services-one__single:hover .services-one__img::before {
    opacity: 1;
}

.services-one__img img {
    width: 100%;
    border-radius: var(--judges-bdr-radius);
    transition: .5s ease;
    transform: scale(1.05);
}

.services-one__single:hover .services-one__img img {
    transform: scale(1);
}

.services-one__content {
    position: relative;
    display: block;
    margin-top: -40px;
    margin-bottom: 20px;
    padding: 0 20px 0;
}

.services-one__count {
    position: absolute;
    top: 60px;
    right: 0;
    font-size: 80px;
    line-height: .8em;
    font-weight: 800;
    color: transparent;
    -webkit-text-stroke: 1px var(--judges-extra);
    counter-increment: count;
    content: "0"counter(count);
    transition: all 200ms linear;
    transition-delay: 0.1s;
}

.services-one__single:hover .services-one__count {
    -webkit-text-stroke: 1px var(--judges-base);
    color: var(--judges-base);
}

.services-one__icon {
    position: relative;
    height: 80px;
    width: 80px;
    background-color: var(--judges-white);
    box-shadow: 0px 10px 60px 0px rgb(0 0 0 / 7%);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 200ms linear;
    transition-delay: 0.1s;
    border-radius: 15px;
    z-index: 2;
}

.services-one__single:hover .services-one__icon {
    background-color: var(--judges-base);
}

.services-one__icon span {
    position: relative;
    display: inline-block;
    font-size: 50px;
    color: var(--judges-base);
    transition-delay: 0.1s;
    transition: all 500ms ease;
}

.services-one__single:hover .services-one__icon span {
    transform: rotateY(180deg);
    transition-delay: 0.1s;
    color: var(--judges-white);
}

.services-one__title {
    font-size: 25px;
    line-height: 25px;
    text-transform: capitalize;
    margin-top: 25px;
    margin-bottom: 14px;
    font-weight: 700;
}

.services-one__title a {
    color: var(--judges-black);
}

.services-one__title a:hover {
    color: var(--judges-base);
}

.services-one__text {
    margin-bottom: 17px;
}

.services-one__btn {
    position: relative;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
    font-weight: 500;
    color: var(--judges-white);
    background-color: var(--judges-base);
    padding: 6px 20px;
    border-radius: var(--judges-bdr-radius);
}

.services-one__btn:hover {
    background-color: var(--judges-black);
    color: var(--judges-white);
}

/*--------------------------------------------------------------
# Services Two
--------------------------------------------------------------*/
.services-two {
    position: relative;
    display: block;
    overflow: hidden;
    padding: 120px 0 90px;
    background-color: #000000;
    z-index: 1;
}

.services-two__bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: .08;
    z-index: -1;
}

.services-two .section-title__title {
    color: var(--judges-white);
}

.services-two__single {
    position: relative;
    display: block;
    text-align: center;
    background: rgba(46, 52, 58, .80);
    padding: 30px 45px 22px;
    border-radius: var(--judges-bdr-radius);
    margin-bottom: 30px;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    z-index: 1;
}

.services-two__single:hover {
    transform: translateY(-10px);
}

.services-two__icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 80px;
    margin: 0 auto 0;
    background-color: rgba(var(--judges-base-rgb), .10);
    border-radius: var(--judges-bdr-radius);
    z-index: 1;
}

.services-two__icon span {
    position: relative;
    display: inline-block;
    font-size: 45px;
    color: var(--judges-base);
    transition: all 500ms linear;
    transition-delay: 0.1s;
}

.services-two__single:hover .services-two__icon span {
    -webkit-animation-name: wobble-horizontal-hover;
    animation-name: wobble-horizontal-hover;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

.services-two__title {
    font-size: 23px;
    line-height: 30px;
    font-weight: 700;
    text-transform: capitalize;
    margin-top: 15px;
    margin-bottom: 8px;
}

.services-two__title a {
    color: var(--judges-white);
}

.services-two__title a:hover {
    color: var(--judges-base);
}

.services-two__text {
    margin-bottom: 4px;
}

.services-two__read-more {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    color: var(--judges-base);
    gap: 5px;
    font-size: 17px;
}

.services-two__read-more span {
    font-size: 18px;
    font-weight: 700;
}

.services-two__read-more:hover {
    color: var(--judges-white);
}


/*--------------------------------------------------------------
# Services Three
--------------------------------------------------------------*/
.services-three {
    position: relative;
    display: block;
    padding: 90px 0 170px;
    z-index: 1;
}

.services-three .section-title {
    margin-bottom: 98px;
}

.services-three__carousel {
    position: relative;
    display: block;
}

.services-three__carousel.owl-carousel .owl-stage-outer {
    overflow: visible;
}

.services-three__carousel.owl-carousel .owl-item {
    opacity: 0;
    visibility: hidden;
    transition: opacity 500ms ease, visibility 500ms ease;
}

.services-three__carousel.owl-carousel .owl-item.active {
    opacity: 1;
    visibility: visible;
}

.services-three__single {
    position: relative;
    display: block;
    background-color: var(--judges-white);
    box-shadow: 0px 10px 60px 0px rgb(0 0 0 / 7%);
    padding: 49px 20px 41px;
    border-radius: var(--judges-bdr-radius);
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    z-index: 2;
}

.services-three__single:hover {
    transform: translateY(-10px);
}

.services-three__icon {
    position: absolute;
    top: -40px;
    left: 40px;
    height: 80px;
    width: 80px;
    background-color: rgba(var(--judges-base-rgb), .90);
    box-shadow: 0px 10px 60px 0px rgb(0 0 0 / 7%);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 200ms linear;
    transition-delay: 0.1s;
    border-radius: 15px;
    border-top-left-radius: 0;
    z-index: 2;
}

.services-three__single:hover .services-three__icon {
    background-color: rgba(var(--judges-black-rgb), .90);
}

.services-three__icon::before {
    position: absolute;
    top: 0;
    left: -40px;
    border-bottom: 40px solid var(--judges-base);
    border-left: 40px solid transparent;
    border-right: 0px solid transparent;
    content: "";
    transition: all 500ms ease;
}

.services-three__single:hover .services-three__icon::before {
    border-bottom: 40px solid var(--judges-black);
}

.services-three__icon span {
    position: relative;
    display: inline-block;
    font-size: 50px;
    color: var(--judges-white);
    transition-delay: 0.1s;
    transition: all 500ms ease;
}

.services-three__single:hover .services-three__icon span {
    transform: rotateY(180deg);
    transition-delay: 0.1s;
    color: var(--judges-white)
}

.services-three__title {
    font-size: 25px;
    line-height: 25px;
    text-transform: capitalize;
    margin-top: 25px;
    margin-bottom: 14px;
    font-weight: 700;
}

.services-three__title a {
    color: var(--judges-black);
}

.services-three__title a:hover {
    color: var(--judges-base);
}

.services-three__text {
    margin-bottom: 17px;
}

.services-three__btn {
    position: relative;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
    font-weight: 500;
    color: var(--judges-white);
    background-color: var(--judges-base);
    padding: 6px 20px;
    border-radius: var(--judges-bdr-radius);
}

.services-three__btn:hover {
    background-color: var(--judges-black);
    color: var(--judges-white);
}


.services-three__carousel.owl-carousel .owl-dots {
    position: absolute;
    bottom: -50px;
    left: 0px;
    right: 0;
    text-align: center;
    margin: 0 !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.services-three__carousel.owl-carousel .owl-dots .owl-dot {
    position: relative;
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--judges-base);
    margin: 0px 5px;
    padding: 0px;
    transition: all 100ms linear;
    transition-delay: 0.1s;
}

.services-three__carousel.owl-carousel .owl-dot.active {
    width: 10px;
    height: 10px;
    background-color: var(--judges-black);
}

.services-three__carousel.owl-carousel .owl-dot:focus {
    outline: none;
}

.services-three__carousel.owl-carousel .owl-dots .owl-dot span {
    display: none;
}


/*--------------------------------------------------------------
# Service Details
--------------------------------------------------------------*/
.service-details {
    position: relative;
    display: block;
    padding: 120px 0 120px;
    z-index: 1;
}

.service-details__left {
    position: relative;
    display: block;
}

.service-details__img {
    position: relative;
    display: block;
}

.service-details__img img {
    width: 100%;
    border-radius: var(--judges-bdr-radius);
}

.service-details__title-1 {
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    margin-top: 41px;
    margin-bottom: 30px;
}

.service-details__text-1 {
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    color: var(--judges-black);
}

.service-details__text-2 {
    margin-top: 20px;
    margin-bottom: 41px;
}

.service-details__points-list {
    position: relative;
    display: block;
}

.service-details__points-list li {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
}

.service-details__points-list li+li {
    margin-top: 16px;
}

.service-details__points-list li .icon {
    position: relative;
    display: flex;
    align-items: center;
}

.service-details__points-list li .icon span {
    position: relative;
    display: inline-block;
    font-size: 18px;
    color: var(--judges-base);
}

.service-details__points-list li p {
    color: var(--judges-black);
}

.service-details__img-box {
    position: relative;
    display: block;
    margin-top: 60px;
}

.service-details__img-box-single {
    position: relative;
    display: block;
    margin-bottom: 21px;
}

.service-details__img-box-img {
    position: relative;
    display: block;
    overflow: hidden;
    margin-bottom: 30px;
    border-radius: 20px;
    z-index: 1;
}

.service-details__img-box-img:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    background: rgb(0, 0, 0);
    border-radius: 20px;
    transition: all 0.5s ease;
    z-index: 1;
}

.service-details__img-box-img:hover:before {
    opacity: 0.2;
}

.service-details__img-box-img img {
    width: 100%;
    border-radius: 20px;
    transform: scale3d(1, 1, 1);
    transition: transform 1s ease-in-out;
}

.service-details__img-box-img:hover img {
    transform: scale(1.06) rotate(0deg);
}

.service-details__img-box-content-single {
    position: relative;
    display: block;
    margin-bottom: 21px;
}

.service-details__img-box-content-icon-and-title {
    position: relative;
    display: flex;
    align-items: center;
    gap: 15px;
}

.service-details__img-box-content-icon {
    position: relative;
    display: flex;
    align-items: center;
}

.service-details__img-box-content-icon span {
    position: relative;
    display: inline-block;
    font-size: 36px;
    color: var(--judges-base);
}

.service-details__img-box-content-title {
    font-size: 24px;
    line-height: 36px;
    font-weight: 700;
}

.service-details__img-box-content-text {
    margin-top: 17px;
}

.service-details__faq-box {
    position: relative;
    display: block;
    margin-top: 30px;
}

.service-details__sidebar {
    position: relative;
    display: block;
}

.service-details__services-box {
    position: relative;
    display: block;
    padding: 31px 35px 40px;
    background-color: rgba(var(--judges-extra-rgb), .30);
    border-radius: var(--judges-bdr-radius);
}

.service-details__services-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 34px;
    margin-bottom: 28px;
}

.service-details__services-list {
    position: relative;
    display: block;
}

.service-details__services-list li {
    position: relative;
    display: block;
}

.service-details__services-list li+li {
    margin-top: 12px;
}

.service-details__services-list li a {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--judges-white);
    border-radius: var(--judges-bdr-radius);
    padding: 13px 20px 14px;
    font-size: 18px;
    font-weight: 700;
    text-transform: capitalize;
    font-family: var(--judges-font-two);
    color: var(--judges-black);
    overflow: hidden;
    z-index: 1;
}

.service-details__services-list li:hover a {
    color: var(--judges-white);
}

.service-details__services-list li.active a {
    color: var(--judges-white);
}

.service-details__services-list li a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--judges-base);
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
    transform-origin: bottom right;
    -webkit-transform: scale(1, 0);
    transform: scale(1, 0);
    z-index: -1;
}

.service-details__services-list li:hover a::before {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    transform-origin: top center;
}

.service-details__services-list li.active a::before {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    transform-origin: top center;
}

.service-details__services-list li a span {
    color: #6E777D;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}

.service-details__services-list li:hover a span {
    color: var(--judges-white);
}

.service-details__services-list li.active a span {
    color: var(--judges-white);
}




.service-details__sidebar-download-box {
    position: relative;
    display: block;
    padding: 31px 35px 40px;
    background-color: rgba(var(--judges-extra-rgb), .30);
    border-radius: var(--judges-bdr-radius);
    margin-top: 50px;
    margin-bottom: 50px;
}

.service-details__sidebar-single-download {
    position: relative;
    display: block;
}

.service-details__sidebar-single-download ul {
    position: relative;
    display: block;
}

.service-details__sidebar-single-download ul li {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(var(--judges-base-rgb), .30);
    padding: 14px 0px 14px;
    line-height: 0;
}

.service-details__sidebar-single-download ul li:first-child {
    padding-top: 0px;
}

.service-details__sidebar-single-download ul li:last-child {
    padding-bottom: 0px;
    border-bottom: none;
}

.service-details__sidebar-single-download ul li .content-box {
    position: relative;
    display: flex;
    align-items: center;
}

.service-details__sidebar-single-download ul li .content-box .icon {
    position: relative;
    display: block;
}

.service-details__sidebar-single-download ul li .content-box .icon span {
    position: relative;
    display: inline-block;
    color: var(--judges-black);
    font-size: 45px;
    line-height: 45px;
}

.service-details__sidebar-single-download ul li .content-box .text-box {
    position: relative;
    display: block;
    margin-left: 17px;
    flex: 1;
}

.service-details__sidebar-single-download ul li .content-box .text-box h2 {
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
    text-transform: capitalize;
}

.service-details__sidebar-single-download ul li .content-box .text-box h2 a {
    color: var(--judges-black);
    transition: all 200ms linear;
    transition-delay: 0.1s;
}

.service-details__sidebar-single-download ul li .content-box .text-box h2 a:hover {
    color: var(--judges-base);
}

.service-details__sidebar-single-download ul li .content-box .text-box p {
    color: var(--judges-black);
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    text-transform: capitalize;
}

.service-details__sidebar-single-download ul li .content-box .text-box p a {
    color: var(--judges-black);
}

.service-details__sidebar-single-download ul li .content-box .text-box p a:hover {
    color: var(--judges-base);
}

.service-details__sidebar-single-download ul li .btn-box {
    position: relative;
    display: block;
}

.service-details__sidebar-single-download ul li .btn-box a {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    background: var(--judges-base);
    border-radius: 2px;
    overflow: hidden;
}

.service-details__sidebar-single-download ul li .btn-box a:hover {
    background: var(--judges-black);
}

.service-details__sidebar-single-download ul li .btn-box a span::before {
    position: relative;
    display: inline-block;
    color: var(--judges-white);
    font-size: 20px;
    line-height: 20px;
}




.service-details__sidebar-contact {
    position: relative;
    display: block;
    padding-top: 18px;
    padding-bottom: 47px;
    background-color: rgba(var(--judges-extra-rgb), .30);
    border-radius: var(--judges-bdr-radius);
    overflow: hidden;
    z-index: 1;
}

.service-details__sidebar-contact::before {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: var(--judges-base);
    height: 305px;
    clip-path: polygon(0 0, 100% 0%, 100% 82%, 0% 100%);
    content: "";
    z-index: -2;
}

.service-details__sidebar-contact::after {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: var(--judges-black);
    height: 295px;
    clip-path: polygon(0 0, 100% 0%, 100% 82%, 0% 100%);
    content: "";
    z-index: -1;
}

.service-details__sidebar-contact-img {
    position: relative;
    display: block;
    clip-path: polygon(0 0, 100% 0%, 100% 82%, 0% 100%);
    z-index: 1;
}

.service-details__sidebar-contact-img .inner {
    position: relative;
    display: block;
}

.service-details__sidebar-contact-img .inner img {
    width: auto;
}

.service-details__sidebar-contact-content {
    position: relative;
    display: block;
    margin-top: -65px;
    z-index: 2;
}

.service-details__sidebar-contact-content .icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    margin: 0 auto;
    background: var(--judges-black);
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 20px;
}

.service-details__sidebar-contact-content .icon span {
    position: relative;
    display: inline-block;
    color: var(--judges-white);
    font-size: 20px;
    line-height: 20px;
}

.service-details__sidebar-contact-content h2 {
    font-size: 30px;
    line-height: 40px;
    font-weight: 700;
    margin-bottom: 13px;
    font-family: var(--judges-font);
    color: var(--judges-black);
}

.service-details__sidebar-contact-content h2 a {
    color: var(--judges-black);
}

.service-details__sidebar-contact-content h2 a:hover {
    color: var(--judges-base);
}

.service-details__sidebar-contact-content h3 {
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    text-transform: capitalize;
}

/*--------------------------------------------------------------
# services Page
--------------------------------------------------------------*/
.services-page {
    position: relative;
    display: block;
    padding: 120px 0 90px;
}

.services-page .services-one__single {
    margin-bottom: 30px;
}







/*--------------------------------------------------------------
# End
--------------------------------------------------------------*/